
<div id="main-container" class="container">

  <div id="content" class="col-md-12">
  <h3><%= t('blacklight.maps.title') %></h3>

  <%- if current_or_guest_user.blank? -%>

    <h2><%= t('blacklight.maps.need_login') %></h2>

  <%- elsif @document_list.blank? -%>

    <h3><%= t('blacklight.maps.no_bookmarks') %></h3>

  <% else %>
    <%#= link_to t('blacklight.maps.clear.action_title'), clear_bookmarks_path, :method => :delete, :data => { :confirm => t('blacklight.bookmarks.clear.action_confirm') }, :class => 'clear-bookmarks btn btn-danger pull-right' %>
    <%#= render 'sort_and_per_page' %>
    <%#= render 'tools' %>

    <%#= render_document_index %>
    <%= render_map_collection_index %>
    <%= render 'map_collection' %>
    <%#= render 'results_pagination' %>
  <% end %>
  </div>

</div>