<% content_for :title do %>
  Impacts &amp; Risks| NY Climate Change Science Clearinghouse
<% end %>

<div id="main-container" class="container">

  <div class="row vertical-offset-md">&nbsp;</div>
     
  <div class="row vertical-offset-md">
    <div class="col-sm-12">
      <h1>Impacts &amp; Risks</h1>
    </div>
  </div>

    
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Coastal Flooding</h3>
    </div>
 
    <div class="panel-body">

    <div class="row">

      <div class="col-sm-5">
        <div class="padded rounded">
          <%= image_tag "nyccsc/impacts/sea-level-rise-viewer.png", class:"img-responsive img-border" %>
          <p class="small">The chart shows... </p>
        </div>
      </div>

      <div class="col-sm-7">
          
          <h4>Coastal flooding due to sea level risk and storm surge will increasingly put lives and property at risk. Health, water quality, energy, infrastructure, and coastal ecosystems are all affected.</h4>

          <div class="row">

            <div class="col-sm-6">
              <div class="rounded padded">
                <h4>Data Product</h4>
                  <ul class="with-icons">
                    <li> <a href="#"><span class="glyphicon glyphicon-stats"></span> Go to data visualization </a></li>
                    <li> <a href="#"><span class="glyphicon glyphicon-download-alt"></span> Download data </a></li>
                  </ul>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="rounded padded">
                <h4>Highlighted Resources</h4>
                <ul class="fa-ul">
                  <li>
                    <a href="/catalog/n2244?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n2244
"><i class="fa-li fa fa-file"></i>Sea Level Rise and Coastal Flooding Impacts Viewer 
                    </a>
                  </li>
                  <li>
                    <a href="/catalog/n2619?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n2619
"><i class="fa-li fa fa-external-link-square"></i>USGS Coastal Change Hazards Portal
                    </a>
                  </li>
                  <li><i class="fa-li fa fa-file"></i>
                    <a href="/catalog/n7786?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n7786"><i class="fa-li fa fa-file"></i>City of Kingston Waterfront Flooding Task Force Final Report
                    </a>
                  </li>
                </ul>
                <p><a href="#">All resources <i class="fa fa-angle-double-right"></i></a></p>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Heat Waves</h3>
    </div>

    <div class="panel-body">

      <div class="row">

        <div class="col-sm-5">
          <div class="padded rounded">
            <%= image_tag "nyccsc/impacts/heatwaves.png", class:"img-responsive img-border" %>
            <p class="small">The chart shows... </p>
          </div>
        </div>

        <div class="col-sm-7">

          <h4>Heat waves will become more frequent and intense, increasing heat-related illness and death and posing new challenges to the energy system, air quality, and agriculture.</h4>

          <div class="row">

            <div class="col-sm-6">
              <div class="rounded padded">
                <h4>Data Product</h4>
                <ul class="with-icons">
                  <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Go to data visualization </a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-download-alt"></span> Download data </a></li>
                </ul>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="rounded padded">
                <h4>Highlighted Resources</h4>
                <ul class="fa-ul">
                  <li>
                    <a href="/catalog/n2441?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n2441"><i class="fa-li fa fa-file"></i>Heat Watch/Warning Systems Save Lives 
                    </a>
                  </li>

                  <li>
                    <a href="/catalog/n7282?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n7282"><i class="fa-li fa fa-external-link-square"></i>Heat Wave Safety Tips
                    </a>
                  </li>

                  <li>
                    <a href="/catalog/n4886?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n4886"><i class="fa-li fa fa-file"></i>The Federal Highway Administration's Climate Change & Extreme Weather Vulnerability Assessment Framework
                    </a>
                  </li>
                </ul>
                <p><a href="#">All resources <i class="fa fa-angle-double-right"></i></a></p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Heavy Downpours</h3>
    </div>

    <div class="panel-body">

      <div class="col-sm-5">
        <div class="padded rounded">
          <%= image_tag "nyccsc/impacts/heavydownpours.png", class:"img-responsive img-border" %>
          <p class="small">The chart shows... </p>
        </div>
      </div>

      <div class="col-sm-7">

        <h4>Heavy downpours are increasing and are projected to increase further. These can lead to flooding and related impacts on water quality, infrastructure, and agriculture.</h4>

        <div class="row">

          <div class="col-sm-6">
            <div class="rounded padded">
              <h4>Data Product</h4>
              <ul class="with-icons">
                <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Go to data visualization </a></li>
                <li><a href="#"><span class="glyphicon glyphicon-download-alt"></span> Download data </a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="rounded padded">
              <h4>Highlighted Resources</h4>
              <ul class="fa-ul">
                <li>
                  <a href="/catalog/n1739?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n1739"><i class="fa-li fa fa-file"></i>Extreme Precipitation in New York & New England 
                  </a>
                </li>

                <li>
                  <a href="/catalog/n5840?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n5840"><i class="fa-li fa fa-external-link-square"></i>Flash Flood Vulnerability and Adaptation Assessment Pilot Project
                  </a>
                </li>

                <li>
                  <a href="/catalog/n7804?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n7804"><i class="fa-li fa fa-file"></i>Green Infrastructure Examples for Stormwater Management in the Hudson Valley
                  </a>
                </li>
              </ul>
              <p><a href="#">All resources <i class="fa fa-angle-double-right"></i></a></p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Summer Drought</h3>
    </div>

    <div class="panel-body">

      <div class="col-sm-5">
        <div class="padded rounded bg-white">
          <%= image_tag "nyccsc/impacts/drought.png", class:"img-responsive img-border" %>
          <p class="small">The chart shows... </p>
        </div>
      </div>

      <div class="col-sm-7">

        <h4>Summer drought is projected to increase, affecting water supply, agriculture, ecosystems, and energy production.</h4>

        <div class="row">

          <div class="col-sm-6">
            <div class="rounded padded">
              <h4>Data Product</h4>
              <ul class="with-icons">
                <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Go to data visualization </a></li>
                <li><a href="#"><span class="glyphicon glyphicon-download-alt"></span> Download data </a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="rounded padded">
              <h4>Highlighted Resources</h4>
              <ul class="fa-ul">

                <li><a href="/catalog/n3869?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n3869"><i class="fa-li fa fa-file"></i>Climate and Hydrological Changes in the Northeastern United States: Recent Trends and Implications for Forested and Aquatic Ecosystems</a></li>

                <li><a href="/catalog/n15346?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n15346"><i class="fa-li fa fa-external-link-square"></i>New York City Hazards: Water Supply Disruptions</a></li>

                <li><a href="/catalog/n7235?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n7235"><i class="fa-li fa fa-laptop"></i>CREAT - Climate Resilience Evaluation & Awareness Tool</a></li>

              </ul>
              <p><a href="#">All resources <i class="fa fa-angle-double-right"></i></a></p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Extreme Weather</h3>
    </div>

    <div class="panel-body">

      <div class="col-sm-5">
        <div class="padded rounded bg-white">
          <%= image_tag "nyccsc/impacts/extreme-weather.png", class:"img-responsive img-border" %>
          <p class="small">Photo credit: </p>
        </div>
      </div>

      <div class="col-sm-7">

        <h4>Extreme weather can have a big impact in a short time.  Climate models predict significant changes in the frequency and intensity of some extreme weather events over the coming decades.  New Yorkers can expect more and longer-lasting heat waves and fewer extreme cold events as well as more heavy rainfalls and short-duration droughts.</h4>

        <div class="row">

          <div class="col-sm-6">
            <div class="rounded padded">
              <h4>Data Product</h4>
              <ul class="with-icons">
                <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Go to data visualization </a></li>
                <li><a href="#"><span class="glyphicon glyphicon-download-alt"></span> Download data </a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="rounded padded">
              <h4>Highlighted Resources</h4>
              <ul class="fa-ul">

                <li><a href="/catalog/n1508?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n1508"><i class="fa-li fa fa-file"></i>Atlantic hurricane trends linked to climate change</a></li>

                <li><a href="/catalog/n7039?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n7039"><i class="fa-li fa fa-external-link-square"></i>Climate Change Vulnerability Assessment for Culverts</a></li>

                <li><a href="/catalog/n15728?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n15728"><i class="fa-li fa fa-laptop"></i>New York Recovery Resources Center</a></li>

              </ul>
              <p><a href="#">All resources <i class="fa fa-angle-double-right"></i></a></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
      

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Snowpack Decline</h3>
    </div>

    <div class="panel-body">

      <div class="col-sm-5">
        <div class="padded rounded bg-white">
          <img class="img-responsive" src="http://fpoimg.com/600x600?text=Placeholder Image" alt="Generic placeholder image">
          <p class="small">The chart shows... </p>
        </div>
      </div>

      <div class="col-sm-7">

        <h4>The accumulation of winter snow is projected to decline sharply by the end of this century.  This decline has implications for New York’s water supply and for tourism.  Skiing and snowmobiling contribute close to $2 billion to New York State’s economy each year, and the success of these recreational industries depends directly on a healthy snowpack.  </h4>

        <div class="row">

          <div class="col-sm-6">
            <div class="rounded padded">
              <h4>Data Product</h4>
              <ul class="with-icons">
                <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Go to data visualization </a></li>
                <li><a href="#"><span class="glyphicon glyphicon-download-alt"></span> Download data </a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="rounded padded">
              <h4>Highlighted Resources</h4>
              <ul class="fa-ul">

                <li><a href="/catalog/n3175?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n3175"><i class="fa-li fa fa-file"></i>Applied Climate Information System (ACIS)</a></li>

                <li><a href="/catalog/n462?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n462"><i class="fa-li fa fa-external-link-square"></i>Climate Change and Water Resources: A Primer for Municipal Water Providers</a></li>

                <li><a href="/catalog/n1943?DocId=vitroIndividual:http://nyclimateclearinghouse.org/individual/n1943"><i class="fa-li fa fa-laptop"></i>Annex III: An Economic Analysis of Climate Change Impacts and Adaptations in New York State</a></li>

              </ul>
              <p><a href="#">All resources <i class="fa fa-angle-double-right"></i></a></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
