
<div class="container">
  <div class="pull-right">
      <%= render :partial=>'/user_bookmark_links' %>
      <button href="#" class="btn btn-default btn-xs map-toggle" data-preference-map="hide">Hide Map &raquo;</button>
  </div>
</div>

<div id="main-container" class="container full-width-container">

    <div class="row vertical-offset-md">&nbsp;</div>
    
    <div id="sidebar" class="col-sm-3 col-md-3 col-lg-2">
     <%= render 'search_sidebar' %>
    </div>

    <div id="content" class="col-sm-5 col-md-5 col-lg-6">

        <%= render 'search_and_constraints' %>

        <% unless has_search_parameters? %>
    	    <%# if there are no input/search related params, display the "home" partial -%>
          
    	    <%= render 'home' %>
        <% else %>

          <% # for mapping application %>
          <% #javascript_tag "var docs = #{documents.to_json};" %>

          <h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

          <% @page_title = t('blacklight.search.title', :application_name => application_name) %>


          <% content_for(:head) do -%>
            <%= render_opensearch_response_metadata %>
            <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
            <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
          <% end -%>


          <%= render 'search_header' %>

          <h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

          <%- if @response.empty? %>
            <%= render "zero_results" %>
          <%- elsif render_grouped_response? %>
            <%= render_grouped_document_index %>
          <%- else %>
            <%= render_document_index %>
          <%- end %>

    	    <%= render 'results_pagination' %>

        <% end %>

    </div>

    <div class="map-region col-sm-4 col-md-4">
      
        <%= render 'map' %>
      
    </div>

</div>


<script type="text/javascript">

  
  $('.map-toggle').on('click',function() {

    console.log('clicked on show/hide map');

    console.log($(this).data('preference-map'));

    var jqxhr = $.ajax({
      url: '/session',
      data: 'pref_map=' + $(this).data('preference-map'),
      method: 'POST'
    });

    console.log(jqxhr);

  });

  

</script>


<% # for linked data requests %>
<%= javascript_include_tag 'linkedDataRequests' %>
