<style>
.slider-arrow {
  padding:5px;
  width:30px;
  background:#fff;
  color:#000;
  text-decoration:none;
}
</style>
<div id="main-container" class="container full-width-container">

    <div class="row">

      <div class="pull-right"><button href="javascript:void(0);" class="btn btn-default map-toggle hide-map">Hide Map &raquo;</button></div>
    </div>

    <!--<div id="sidebar" class="col-md-2 pane ui-layout-west">-->
    <div id="sidebar" class="col-md-3 col-lg-2">
     <%= render 'search_sidebar' %>
    </div>

    <!--<div id="content" class="col-md-5 pane ui-layout-center">-->
    <div id="content" class="col-md-5 col-lg-6">

        <%= render 'search_and_constraints' %>

        <% unless has_search_parameters? %>
    	    <%# if there are no input/search related params, display the "home" partial -%>
          
    	    <%= render 'home' %>
        <% else %>

          <% # for mapping application %>
          <% #javascript_tag "var docs = #{documents.to_json};" %>

          <h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

          <% @page_title = t('blacklight.search.title', :application_name => application_name) %>


          <% content_for(:head) do -%>
            <%= render_opensearch_response_metadata %>
            <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
            <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
          <% end -%>


          <%= render 'search_header' %>

          <h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

          <%- if @response.empty? %>
            <%= render "zero_results" %>
          <%- elsif render_grouped_response? %>
            <%= render_grouped_document_index %>
          <%- else %>
            <%= render_document_index %>
          <%- end %>

    	    <%= render 'results_pagination' %>

        <% end %>

    </div>

    <div id="map-region" class="col-md-4">
      
        <%= render 'map' %>
      
    </div>

    

</div>


<% # for linked data requests %>
  <%= javascript_include_tag 'linkedDataRequests' %>
<script>

$(function(){
  $('.map-toggle').click(function(e){
      e.preventDefault();

      //show
      if($(this).hasClass('show-map')){
        $("#map-region").removeClass('hide');
        $("#map-region").addClass('col-md-4');
        $("#content").removeClass("col-md-9 col-lg-10");
        $("#content").addClass("col-md-5 col-lg-6");
      //$( ".collapsible-panel").show();
      // $( ".slider-arrow, .collapsible-panel" ).animate({
      //     right: "+=500"
      // }, 700, function() {
      //       // Animation complete.
      //     });
      $(this).html('Hide Map &raquo;').removeClass('show-map').addClass('hide-map');
      //hide
      } else {    
        $("#map-region").removeClass('col-md-4');
        $("#map-region").addClass('hide');
        $("#content").removeClass("col-md-5 col-lg-6");
        $("#content").addClass("col-md-9 col-lg-10");
      //    $(".collapsible-panel").hide();
      // $( ".slider-arrow, .collapsible-panel" ).animate({
      //     right: "-=500"
      // }, 700, function() {
      //       // Animation complete.
      //     });
      $(this).html('Show Map &laquo;').removeClass('hide-map').addClass('show-map');    
        }
    });

});

// $(document).ready(function () {
//     var options = { //resizable: true 
//       west: {minSize: 200}
//     , west: {size:200}
//     , east: {size:500}
//     , west__togglerContent_open:   "&#8249;" // "‹"
//     , west__togglerContent_closed: "&#8250;" // "›"
//     , east__togglerContent_open:   "&#8250;" // "›"
//     , east__togglerContent_closed: "&#8249;" // "‹"
//     }
//     $('#panels-wrapper').layout(options);
//});
</script>