
<div class="container">
    <div class="pull-right">
      <% if render_bookmarks_control? %>
        <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path, :class =>"btn" %>
      <% end %>
      <a href="#" class="btn visible" id="map-toggle">Hide Map >></a>
    </div>
    <h3>Browse Maps and Find Data</h3>
</div>

<div id="main-container" class="container full-width-container">

    <div id="sidebar" class="col-sm-3 col-md-3 col-lg-2">
     <%= render 'search_sidebar' %>
    </div>

    <div id="content" class="col-sm-6 col-md-6 col-lg-6">

        <%= render 'search_and_constraints' %>

        <% unless has_search_parameters? %>
    	    <%# if there are no input/search related params, display the "home" partial -%>

    	    <%= render 'home' %>
        <% else %>

          <% # for mapping application %>
          <% #javascript_tag "var docs = #{documents.to_json};" %>

          <h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

          <% @page_title = t('blacklight.search.title', :application_name => application_name) %>


          <% content_for(:head) do -%>
            <%= render_opensearch_response_metadata %>
            <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
            <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
          <% end -%>


          <%= render 'search_header' %>

          <h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

          <%- if @response.empty? %>
            <%= render "zero_results" %>
          <%- elsif render_grouped_response? %>
            <%= render_grouped_document_index %>
          <%- else %>
            <%= render_document_index %>
          <%- end %>

    	    <%= render 'results_pagination' %>

        <% end %>

    </div>

    <div id="map-region" class="col-sm-3 col-md-3 col-lg-4">

        <%= render 'map' %>

    </div>

</div>


<script type="text/javascript">


  $('#map-toggle').on('click',function(e) {

    e.preventDefault();
    var params;

    console.log($(this).hasClass('visible'));
    //immediate reaction to show/hide toggle
    if ($(this).hasClass('visible')) {

      $(this).removeClass('visible');
      $(this).html('<< Show Map')
      params = 'map=hide';
      visibleMap(false);

    } else {

      $(this).addClass('visible');
      $(this).html('Hide Map >>')
      params = 'map=show';
      visibleMap(true);

    }
    //set session so this persists for user
    var jqxhr = $.ajax({
      url: '/catalog/set_map_preference',
      data: params,
      method: 'POST'
    });

  });

  function visibleMap (visible) {

    if (visible) {
      
      $('#content').removeClass().addClass('col-sm-6 col-md-6 col-lg-6');
      $('#map-region').removeClass().addClass('col-sm-3 col-md-3 col-lg-4');

    } else {

      $('#content').removeClass().addClass('col-sm-9 col-md-9 col-lg-10');
      $('#map-region').removeClass().addClass('hidden');

    }
  }


</script>


<% # for linked data requests %>
<%= javascript_include_tag 'linkedDataRequests' %>
