
<section class="page-title">
  <div class="container">
    <h1>Maps, Data &amp; Resources</h1>
  </div>
</section>

<header id="header-facets">
  <div class="container">

      <div class="pull-right">
        <%= render_search_bar %>
      </div>
      <!-- facets -->
      <%= render 'search_sidebar' %>
  </div>
</header>

<div class="container-fluid">

    <% if search_session['map'] == 'hide' %>
      <div id="content" class="col-sm-12">
    <% else %>
      <div id="content" class="col-sm-6">
    <% end %>

        <%#= render 'search_and_constraints' %>

        <% unless has_search_parameters? %>
    	    <%# if there are no input/search related params, display the "home" partial -%>
    	    <%= render 'home' %>
        <% else %>


          <h2 class="sr-only top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

          <% @page_title = t('blacklight.search.title', :application_name => application_name) %>


          <% content_for(:head) do -%>
            <%= render_opensearch_response_metadata %>
            <%= auto_discovery_link_tag(:rss, url_for(params.merge(:format => 'rss')), :title => t('blacklight.search.rss_feed') ) %>
            <%= auto_discovery_link_tag(:atom, url_for(params.merge(:format => 'atom')), :title => t('blacklight.search.atom_feed') ) %>
          <% end -%>


          <%= render 'search_header' %>

          <h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

          <%- if @response.empty? %>
            <%= render "zero_results" %>
          <%- elsif render_grouped_response? %>
            <%= render_grouped_document_index %>
          <%- else %>
            <%= render_document_index %>
          <%- end %>

    	    <%= render 'results_pagination' %>

        <% end %>

    </div>

    <% if search_session['map'] == 'hide' %>
      <div id="map-region" class="hide">
    <% else %>
      <div id="map-region" class="col-sm-6">
    <% end %>
        <%= render 'map' %>
    </div>

</div>


<script type="text/javascript">

// $('dl').readmore({
// speed: 100,
// collapsedHeight: 140,
// heightMargin: 16,
// moreLink: '<a href="#">Read More</a>',
// lessLink: '<a href="#">Close</a>',
// embedCSS: true,
// blockCSS: 'display: block; width: 100%;',
// startOpen: false,
 
// // callbacks
// beforeToggle: function(){},
// afterToggle: function(){}
// });

  $('#map-toggle').on('click',function(e) {

    e.preventDefault();
    var params;

    console.log($(this).hasClass('visible'));
    //immediate reaction to show/hide toggle
    if ($(this).hasClass('visible')) {

      $(this).removeClass('visible');
      $(this).html('<< Show Map')
      params = 'map=hide';
      visibleMap(false);

    } else {

      $(this).addClass('visible');
      $(this).html('Hide Map >>')
      params = 'map=show';
      visibleMap(true);

    }
    //set session so this persists for user
    var jqxhr = $.ajax({
      url: '/catalog/set_map_preference',
      data: params,
      method: 'POST'
    });

  });

  function visibleMap (visible) {

    if (visible) {
      
      $('#content').removeClass().addClass('col-sm-6');
      $('#map-region').removeClass().addClass('col-sm-6');

    } else {

      $('#content').removeClass().addClass('col-sm-12');
      $('#map-region').removeClass().addClass('hide');

    }
  }

</script>


<% # for VIVO data requests %>
<%= javascript_include_tag 'vivoDataRequests' %>
